*{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .22s linear;
     scroll-behavior: smooth;
      --green: #27ae60;
    --black : #192a56;
    --light-color: #666;
       --box-shadow: 0.5rem 1.5rem rgba(0,0,0,.1);
}

.header{
    background-color: white;
    box-shadow: rgba(0,0,0.09);
     box-shadow: 10px 10px 25px rgba(0,0,0,0.2);
    height: 30px;
    padding: 20px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    color: #192a56;
    width: 80%;
    
    
}
.nav-menu ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    
}
ul li{
    margin: 5px;
    font-weight: 600;
    cursor: pointer;
    color: #192a56;
}
li:hover{
    border-bottom:solid 3px #27ae60;
    color:red;
  
}

.logo img{
    height: 55px;
}
.btn{
    background-color: rgb(252, 48, 48);;
    border: none;
    padding: 5px 15px;
    font-weight: 600;
    border-radius: 5px;
}
.btn a{
    text-decoration: none;
    color: white;
    font-weight: 500;
}
li a{
    text-decoration: none;
    color: black;
}
.home .desc{

margin-top: 40px;
}
li>i{
    
}
.sticky{
    background-color: white;
    box-shadow: rgba(0,0,0.09);
     box-shadow: 10px 10px 25px rgba(0,0,0,0.2);
    height: 30px;
    padding: 20px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    color: #192a56;
    position: fixed;
    width: 80%;

}
/*Navbar Ends here*/

.home{
    
    height: 90vh;
    padding: 20px 10%;
    padding-top: 100px;
    background-image: url();
  
}
.home h1{
    color: var(--black);
}
.home p{
    margin-top: 30px;
    font-weight: 400;
    font-size: 18px;
    color: var(--black);
}
.btn2{
    margin-top: 10px;
}

/*Mission startes here*/
.mission{
    height: 90vh;
    padding: 20px 10%;
    background-color: rgb(248, 245, 245);
}
.mission-container{
    display: flex;    
    justify-content: space-between;
}
.mission p{
    padding-top: 10px;
    font-weight: 400;
    font-size: 14px;
}
.mission h5{
    padding-top: 10px;
}
.mission h4{
    padding-top: 5px;
}
.title h2{
    text-align: center;
    padding: 20px;
    margin-bottom: 30px;
}
@media(max-width: 900px){
    .mission-container{
        flex-direction: column;
        
    }
    .nav-menu{
        display: none;
    }
    .mission{
        text-align: center;
      
    }

}
